.cards {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.title {
    font-size: larger;
    font-weight: 600;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}