.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: aliceblue;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.link a {
    text-decoration: underline;
    color: hotpink;
    font-weight: 600;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.icon p {
    margin: 0;
}
