.navbar {
    background-color: rgb(182, 216, 228);
    display: flex;
    justify-content: flex-start;
    color: black !important;
    padding: 15px;
    align-items: center;
}

.link {
    color: black !important;
    text-decoration: none;
    margin-right: 20px;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 70px;
    background-color: aliceblue;
    font-size: x-large;
    color: cornflowerblue;
}

.brand {
    color: black !important;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}